Source: hilary
Section: httpd
Priority: extra
Maintainer: D. Stuart Freeman <stuart.freeman@et.gatech.edu>
Build-Depends: debhelper (>= 8.0.0), tar
Standards-Version: 3.9.4
Homepage: http://oaeproject.org
#Vcs-Git: git://git.debian.org/collab-maint/hilary.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/hilary.git;a=summary

Package: hilary
Architecture: all
Depends: ${misc:Depends}, graphicsmagick, 3akai-ux, nodejs (>= 0.8.0)
Description: hilary is the server backend for the Open Academic Environment
 A node.js/express server to support academic collaboration
